body {
  background-color: rgb(252, 252, 255);
 font-family: "Lora" sans-serif;
}

body a {
  color: rgb(58, 180, 180);
}
body a:hover{
 color: rgba(28, 175, 48, 0.925);
}

body a:visited{
  color:rgb(80, 143, 8);
}




/*
==============================
HEADER SECTION STYLES
==============================
*/

#header-nav {
  height: 150px;
  background-color: rgb(6, 6, 102);
  border-bottom: 0.8em;
  border-style: ridge;
  border-color: yellowgreen;
}


#logo-img{
  width: 170px;
  height: 80px;
  margin-left: 45px;

 
}


#slogan {
  font-size: 0.9rem;
  font-style: oblique;
  color: white;
  border: 0.1em solid yellowgreen;
  padding: 0.3em;
  border-radius: 0.7em;
  text-decoration: double;
  text-transform: uppercase;
  margin-left: 2.7em;
 position: relative;
 top: -15.8px;


 
}
 /*
  ===========================
  HEADER WORKING HOUR STYING
  ============================
  */
#workhour {
color: yellowgreen;
position: absolute;
right: 12em;
top: 0.9em;
}

#clocknew {
position: absolute;
right: 26em;
top: 1.4em;
}





.header-info {
  background-color: yellowgreen;
  font-style: italic;
  font-size: 16px
  
  
}


#clock {
  color: rgb(6, 6, 102);
  
}

#working-hour{
  color: white;
  font-style: italic;
}

#Telephone{
  color:rgb(6, 6, 102);
  



}

#number {
  color: rgb(245, 243, 243);


}

#envelope {
  color:rgb(6, 6, 102);


}


#email {
  color: rgb(247, 248, 245);


}

#social {
 color: rgb(6, 6, 102);

}


/*
=============================
END OF HEADER SECTION STYLES
============================
*/
/*
=============================
SLIDE SECTION STYLE
============================
*/


#slide-image {
  text-align: center;
  width: 100%;
  height: 700px;
}

.slide-caption, h2 {
font-family: "Oxygen" sans-serif;
font-weight: 700;
font-size: 40px;
text-align: center;
align-items: center;
color: yellowgreen;
margin-top: -10em;
border: 0.1px solid rgb(247, 244, 244);
border-radius: 50px;
border-spacing: 25px;

}

.slide-caption, #slide-text{
font-family: "Lora" serif;
font-size: 20px;
text-align:center;
color: rgb(248, 246, 246);



}

.slide-caption, #slide-button{
background-color: rgb(243, 245, 241);
font-family: "Oxygen" sans-serif;
font-weight: 700;
font-style: bold;
font-size: large;
color: black;
border: 0.17px solid rgb(247, 244, 244);
border-radius: 5px;
padding: 10px;
}

#slide-button:hover {
  background-color: yellowgreen;
}

#slide-button-L {
background-color: yellowgreen;
font-family: "Oxygen" sans-serif;
font-weight: 700;
font-style: bold;
font-size: large;
color: black;
border: 0.17px solid rgb(247, 244, 244);
border-radius: 5px;
padding: 10px;

}

#slide-button-L:hover {
  background-color: rgb(241, 241, 240);
}




/*
============================
END OF SLIDE SECTION STYLE
============================
*/

#columns {
  width: 100%;
  height:200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2px;
  margin-bottom: 12px;
  padding: 5px;
 
}

#section2 {
  background-image: url("../images/creative-design.jpg");
  background-attachment: fixed;
  background-position: center;
  background-color: blueviolet;
  height:320px;
  width: 100%;


}

#front-tiles {
  background-color:rgb(51, 51, 167);
  border: 1px solid rgb(126, 126, 151);
  border-width: 3px;
  border-radius: 3em;
  padding: 35px;
  box-shadow: 20cqh;
  opacity: 6;
 

 
}

#front-tiles:hover {
  box-shadow: 0 2px 5px 2px #f5f3f3;

}

.label{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color:rgb(3, 3, 75);
  font-size: 1.3em;
  font-style: bold;
  margin-top: -1.7em;
  margin-left: em;
  font-weight: 100px;
  text-align: center;
  border: solid 0.2em yellowgreen;
  border-radius: 1em;
  border-width: 3px;

 
  
}

#grid-icon{
  font-size: 40px;
  color: yellowgreen;
  border: solid 0.05em yellowgreen;
  border-radius: 50px;
  text-shadow: 0.02em;
  margin-left: -15px;
  margin-top: 30em;
  position: relative;
  bottom: 2rem;
  right: -8rem;
 
  
 
}

p {
  font-family: "Lora" serif;
  color: white;
  text-align: left;
  margin-top: 10px;
  }

 
a, a:hover, a:active  {
  text-decoration: none;
  color: white;
  }

  #learn-more {
    border-radius: 10px;
    background-color: yellowgreen;
    padding: 5px;
  }

  #learn-more:hover {
   background-color: blue;

  }
 

/*
================================
END OF INFORMATION GRID STYLES
================================
*/





.footer {
  height: 400px;
  background-color: rgb(3, 15, 22);

  
}

.copyright {
  margin-top: 1em;
  color: #f5f3f3;
 
}


#copyright-text {
  font-family: "Lora" serif;
  margin-left: -30em;
  
}

#footer-logo {
      width: 140px;
      height: 70px;
}

#social-footer {
  font-size: x-large;
  -webkit-text-fill-color: yellowgreen;
  margin-top: -2em;
  margin-left: 70rem;

}

.footer hr {
 width: 50%;
 color: #f5f3f3;
 margin-left: 5em;

}
.footer #top-hr {
  width: 100%;
  color: #f5f3f3;
  margin-left: auto;
}

.list-unstyled {
  font-family: "Lora" serif;
  font-size: small;
  margin-left: 6.6em;
  color: #f5f3f3;
  padding: 10px;
 

}

#footer-info h4 {
  color: yellowgreen;
  margin-left: 4em;
}

#find-us h4 {
  color: yellowgreen;
  margin-left: 4em;

 

}



#location-footer{
  color: yellowgreen;
  font-size: small;
  margin-left: 11px;




}

#address-footer{
     color: #f5f3f3;
     font-size: small;
   
     
}


 #Telephone-footer1 {
         color: yellowgreen;
         font-size: small;
        
         
}



#Telephone-footer2 {
  color: yellowgreen;
  font-size: small;
  text-indent: -0.4px;
  margin-left: 11px;
 
  
}

#number-footer{
  color: #f5f3f3;
  font-size: small;
 
}

#envelope-footer{
  color: yellowgreen;
  margin-left: 11px;

}


#email-footer{
  color: #f5f3f3;

}



.portfolio-header{
      font-family: "Oxygen" sans-serif;
      margin-top: 30px;
      text-align: center;
      color: blue;
      }

#carouselPortfolio {
    height: 300px;
    margin-top: 2em;
    

}







/*
=====================================
PAGES TOP HEADER STYLES
=====================================
*/

.about-top-banner {
    background-image: url("../images/creative-design.jpg"); 
    background-attachment: fixed;
    background-position: cover;
    background-size: cover;
    height: 500px;
}


.web-design-top-banner {
  background-image: url("../images/web-design-slide-1024x640.jpg"); 
  background-attachment: fixed;
  background-position: cover;
  background-size: cover;
  height: 500px;
}


/*
=====================================
ABOUT US PAGE STYLES
=====================================
*/

#vision-mission {
  background-color: rgba(241, 235, 235, 0.295);
     height: 300px;
     padding: 12px;
     border: 25px solid white;
    

    


}

#v-mission-header {
    margin-bottom: auto;
    font-family: "Oxygen" serif;
    background-color: yellowgreen;
    width: 10em;
    padding: 2px;
    margin-bottom: 25em;
}

.vision-mission-text {
  color: black;
  margin-top: -43em;

}

#about-section {
   height: 650px;
   background-color: rgba(227, 235, 213, 0.432);
  

}

.about-text {
    color: black;
    font-family: "Lora" sans-serif;
}

 



  